/* About Section */

.about {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 11.2rem);
    scroll-margin-top: 11.2rem; 
    margin-right: 1.6rem;
    margin-bottom: 3.2rem;
    padding-top:1.6rem;
    padding-left:1.6rem;
}

.about__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.about__container-item {
    flex: 0 0 50%;
    margin-bottom: 1.6rem;
}

.about__title {
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Montserrat_bold';
    margin-bottom: 3.2rem;
}

.about__description {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;

    border: 1px solid #831be8;
    border-radius: 3rem;

    font-family: 'Montserrat_regular';
    font-size: 1.6rem;
}

.about__description-item {
    margin-bottom: 0.5rem;
}

.about__description-title {
    padding-top: 1.6rem;    
    font-size: 1.6rem;
}

.todo {

    font-family: 'Montserrat_regular';
    font-size: 1.6rem;
}
